<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h2>
  <p>vegsco</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <p>Vegsochk</p>
  </div>
</div>
