<div class="uk-section vegan-tips-container">
  <div class="banner">
    <div class="message-container">
      <h1>純素貼士</h1>
    </div>
  </div>
  <div class="main-section">
    <div id="mount"></div>
  </div>
 </div>
</div>

