$yellow: rgb(243, 232, 44);
$grey: rgb(154, 156, 146);
$white: rgb(255, 255, 255);
$orange: rgb(247, 199, 155);
$green: rgb(181, 220, 202);
$brown: rgb(117, 107, 96);
$brand-color: rgb(22, 195, 212); 


$main-area-max-width: 960px;
