$yellow: rgb(243, 232, 44);
$grey: rgb(154, 156, 146);
$white: rgb(255, 255, 255);
$orange: rgb(247, 199, 155);
$green: rgb(181, 220, 202);
$brown: rgb(117, 107, 96);
$brand-color: rgb(22, 195, 212); 


$main-area-max-width: 960px;

$font-size: 16px;
$line-height: $font-size * 1.6;
$h1-size: $font-size * 2;
$h2-size: $font-size * 1.6;
$h3-size: $font-size * 1.4;
$h4-size: $font-size * 1.2;

$remark-font-size: 12px;
$remark-font-weight: 100;
