@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 300;
    src:
        url("/fonts/open_sans/OpenSans-Regular.ttf") format("truetype")
}
// 1. Your custom variables and variable overwrites.
@import "variables";
$global-link-color: $grey;
$global-border: $brand-color;

@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";

@import '~react-draft-wysiwyg/dist/react-draft-wysiwyg.css';

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

@import "~uikit/src/scss/uikit-theme.scss";

@import "layouts";
@import "components";
@import "pages";
@import "modifiers";

body {
	font-family: "OpenSans";
	font-weight: 100;
  font-size: $font-size;
  line-height: $line-height;

  h1, h2, h3 {
    text-align: center;
  }

  h1 {
    font-size: $h1-size;
  }

  h2 {
    font-size: $h2-size;
  }

  h3 {
    font-size: $h3-size;
  }

  h4 {
    font-size: $h4-size;
  }

	b {
		font-weight: 1000;
	}

  a {
    overflow-wrap: break-word;
    text-decoration: none !important;
    transition: color 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
    word-break: break-word;
    word-wrap: break-word;
    &:hover {
      color: #000;
      cursor: pointer;
      outline: 0;
    }
  }
}
html, body {
  position:relative;
  overflow-x:hidden;
}

iframe {
  max-width: 100%;
}