.article-item {
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
  &:first-child {
    border: none;
  }
  .article-title {
    color: $brand-color;
  }

  .category-tag-list {
    display: flex;
    flex-direction: row;

    .category-tag {
      margin-left: 10px;
      padding: 2px 5px;
      color: $white;
      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }

  .view-more-link {
    color: $grey;
  }
}
