.article-item {
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
  &:first-child {
    border: none;
  }
  .article-title {
    color: $brand-color;
  }

  .category-tag {
    padding: 2px 5px;
  }

  .view-more-link {
    color: $grey;
  }
}
