$avatar-image-size: 100px;

.author-detail-container {
  text-align: center;
  margin-bottom: 40px;
  .author-avatar {
    margin: 0 auto;
    img {
      width: $avatar-image-size;
      height: $avatar-image-size;
      border-radius: $avatar-image-size / 2;
      object-fit: cover;
      margin: 0 auto;
      display: block;
			@media screen and (max-width: $breakpoint-small) {
				width: $avatar-image-size * 0.6;
				height: $avatar-image-size * 0.6;
				border-radius: $avatar-image-size * 0.6 / 2;
			}
    }
  }

  .author-name {
    margin-top: 20px;
  }

  .author-bio {
    text-align: left;
    display: flex;
    align-items: center;
    height: 100%;
  }
}
