.main-navbar {
	max-width: $main-area-max-width;
  margin: 0 auto;
  padding-bottom: 0;

  .nav-right-items {
    @media screen and (max-width: $breakpoint-small) {
      display: none;
    }    
  }
  li {
    &.logo {
      img {
        height: 60px;
      }
    }
    padding: 0 10px;
    a {
      color: $brand-color;
      height: 40px;
      padding: 0;
    }
    &.active {
      a {
        color: $orange;
        border-bottom: 4px solid $orange;
        margin-top: 2px;
        &:hover, &:active, &:hover {
          color: white !important;
        }
      }
    }
  }
} 
.left-navigation-push-over {
	background: #fff !important;
	a {
		color: $grey !important;
	}
}

