<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
  <%= render "_form.html", changeset: @changeset,
        action: admin_category_path(@conn, :update, @category), method: :put, submit_text: "Update" %>
</div>

