.footer-section {
  background-color: $grey;
  color: $white;
  
  .footer-section-main {
    max-width: $main-area-max-width;
  }

  .brand-logo {
    height: 140px;
    img {
      height: 100%;
    }
  }

  .footer-info-left {
  }

  .footer-info-right {
    text-align: right;
  }
}

.main-navbar {
  li {
    a {
      color: $brand-color;
    }
  }
}
