.footer-section {
  background-color: $grey;
  color: $white;

  .brand-logo {
    height: 140px;
    img {
      height: 100%;
    }
  }

  .footer-info-left {
  }

  .footer-info-right {
    text-align: right;
  }
}
