<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
  <%= render "_form.html", changeset: @changeset, action: admin_restaurant_path(@conn, :create), method: :post, submit_text: "Create" %>
</div>

