<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>香港素食會 Hong Kong Veg Society</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%= ga_tag %>
  </head>

  <body>
    <div class="uk-offcanvas-content">
      <%= render @view_module, @view_template, assigns %>
      <%= render_shared "footer.html" %>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ace6387ecadda21"></script>
  </body>
</html>
