<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= ogtags(assigns) %>
    <title>香港素食會 Hong Kong Veg Society</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%= ga_tag %>
  </head>

  <body>
    <%= render_shared "main-navbar.html", conn: @conn %>
    <div class="article-container">
      <div class="uk-section">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>
    <%= render_shared "footer.html" %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= render_existing @view_module, "scripts." <> @view_template, assigns %>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ace6387ecadda21"></script>
  </body>
</html>
