<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>香港素食會 Hong Kong Veg Society</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%= ga_tag %>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav class="uk-navbar-container" uk-navbar>
          <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
              <li class="uk"><a href="/author">Author Panel</a></li>
              <%= if current_user(@conn) do %>
                <li><a href="<%= author_article_path(@conn, :index) %>">Articles</a></li>
                <li><a href="<%= author_image_path(@conn, :index) %>">Images</a></li>
              <% end %>
            </ul>
          </div>
          <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
              <%= if current_user(@conn) do %>
                <li>
                  <a>Profile</a>
                  <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li class="uk-active"><a><%= current_user(@conn).email %></a></li>
                      <li><a href="<%= author_profile_path(@conn, :edit)%>">Edit Profile</a></li>
                      <li><a href="<%= author_password_path(@conn, :edit)%>">Edit Password</a></li>
                      <li class="uk-nav-divider"></li>
                      <li><%= link "Logout", to: author_logout_path(@conn, :delete)%></li>
                    </ul>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
        <span class="logo"></span>
      </header>
			
			<%= for {key, val} <- get_flash(@conn) do %>
				<div class="uk-alert-<%= key %>" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          <p><%= val %></p>
				</div>
			<% end %>
 
			<div class="uk-section">
				<div class="uk-container uk-container-small">
					<%= render @view_module, @view_template, assigns %>
				</div>
			</div>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= render_existing @view_module, "scripts." <> @view_template, assigns %>
  </body>
</html>
