<h1>Posts</h1>
<span><%= link "Create New Article", to: article_path(@conn, :new) %></span>
<table class="uk-table uk-table-hover uk-table-divider">
	<thead>
		<tr>
			<th>Table Heading</th>
			<th>Table Heading</th>
			<th>Table Heading</th>
		</tr>
	</thead>
	<tbody>
		<%= for article <- @articles do %>
			<tr>
				<td><%= article.title %></td>
			</tr>
		<% end %>
	</tbody>
</table>

