$text-left-padding: 40px;
$max-text-width: 800px;
.animals-container {
  margin: 0 auto;
  color: $white;
  .animal-banner {
    position: relative;
    background: url("/images/cows.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 400px;
    .artwork {
      bottom: -100px;
      left: 10%;
      position: absolute;
      min-width: 240px;
      width: 30%;
      min-height: 240px;
      height: 30%;
      background-color: $yellow;
      opacity: 0.9;
      padding: 20px;
    }
  }

	.overlay {
			/* Height & width depends on how you want to reveal the overlay (see JS below) */    
			height: 100%;
			width: 100%;
			position: fixed; /* Stay in place */
			z-index: 1; /* Sit on top */
			left: 0;
			top: 0;
			background-color: rgb(0,0,0); /* Black fallback color */
			background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
			overflow-x: hidden; /* Disable horizontal scroll */
      transform: translateX(-100%);
			transition: transform 0.5s linear; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
	}

	/* Position the content inside the overlay */
	.overlay-content-container {
			position: relative;
			width: 100%; /* 100% width */
			text-align: left; /* Centered text/links */
      height: 100%;
	}

  .overlay-content {
    height: 100%;
  }

	/* The navigation links inside the overlay */
	.overlay a {
			padding: 8px;
			text-decoration: none;
			font-size: 36px;
			color: #818181;
			display: block; /* Display block instead of inline */
			transition: 0.3s; /* Transition effects on hover (color) */
	}

	/* When you mouse over the navigation links, change their color */
	.overlay a:hover, .overlay a:focus {
			color: #f1f1f1;
	}

	/* Position the close button (top right corner) */
	.overlay .closebtn {
    position: absolute;
    top: 20px;
    left: 2em;
    font-size: 18px;
    z-index: 100;
    color: $white;
    span {
      margin-right: 20px;
    }
	}
  
	.title {
		font-size: 24px;
		font-weight: 600;
		padding-bottom: 10px;
	}

  .subtitle {
		font-size: 21px;	
		border-bottom: 2px solid #ccc;
		display: inline-block;
  }

  .pig-video {
    img {
      height: auto;
    }
  }

  .back-pane {
    background-color: $brand-color;
  }

  .overlay-main-content-pane {
    padding: 0 !important;
    background-color: $grey;
		overflow: scroll;

    .overlay-main-content-title, .overlay-main-content-subtitle {
      color: $white;
      padding-top: 60px;
      padding-left: $text-left-padding;
      padding-bottom: 30px;
    }
    .overlay-main-content-subtitle {
      font-size: 22px;
      padding-top: 10px;
      padding-left: 0;
      padding-bottom: 10px;
    }
    .main-img-container {
      width: 100%;
      height: 320px;

      &.pig {
        background: url('/images/lovel-piggies.jpg') no-repeat center center;
      }
      &.pig1 {
        background: url('/images/pig-mom-1.jpg') no-repeat center center;
      }
      &.cow {
        background: url('/images/cow-mom-with-calf.jpg') no-repeat center center;
      }
      &.cow2 {
        background: url('/images/calf-drinking-close.jpg') no-repeat center center;
      }
      &.cow3 {
        background: url('/images/cows-staring.jpg') no-repeat center center;
      }
      &.chicken1 {
        background: url('/images/chicken-starting.jpg') no-repeat center center;
      }
      &.chick1 {
        background: url('/images/eggs.png') no-repeat center center;
      }
      &.fish1 {
        background: url('/images/fish.jpg') no-repeat center center;
      }
      background-size: cover !important;
    }
    .main-content-block {
      padding-left: $text-left-padding;
      padding-top: 30px;
      padding-bottom: 20px;
      max-width: $max-text-width;
    }
    .image-with-caption {
      img {
        height: 180px;
        width: 100%;
        object-fit: cover;
				margin-bottom: 10px;
      }
			p {
				font-size: $remark-font-size;
				font-weight: $remark-font-weight;
			}
    }
  }

  .animal-categories-container {
	  max-width: 680px;
    margin: 0 auto;  
    padding-top: 200px;
    padding-left: 10px;
    padding-right: 10px;
    #pig {
      background: url('/images/pig-thumbnail.jpg') no-repeat center center;
    }
    #cow {
      background: url('/images/calf-thumbnail.jpg') no-repeat center center;
    }
    #chicken {
      background: url('/images/chicken-thumbnail.jpg') no-repeat center center;
    }
    #chick {
      background: url('/images/chick-thumbnail.jpg') no-repeat center center;
    }
    #fish {
      background: url('/images/fish-thumbnail.jpg') no-repeat center center;
    }
    #bee {
      background: url('/images/bee-thumbnail.jpg') no-repeat center center;
    }
    .animal-thumbnail {
      height: 140px;
      max-width: 300px;
      margin: 10px auto;
      background-size: cover !important;
      &:hover {
        cursor: pointer
      }
    }
  }

  .fishing-methods {
    border-left: 2px solid $white;
    padding-left: 10px;
  }
  .remark-list {
    border-top: 1px solid $white;
    padding-top:20px;
  } 

	.remark-text, .remark-list {
		font-size: 10px;
    font-weight: $remark-font-weight;
		a {
			display: inline-block;
			font-size: 10px;
		}
    li {
      margin-top: 4px;
    }
	}
}

