.health-container {
	.banner {
		position: relative;
		height: 400px;
		background: url("/images/dan-gold-298710.jpg") no-repeat center center;
		background-size: cover;

		.artwork {
			position: absolute;
			height:240px;
      width: 300px;
      padding: 20px 30px;
			top: 100px;
			left: 300px;
      background-color: $orange;
      opacity: 0.8;
      @media screen and (max-width: $breakpoint-medium) {
        left: 0;
        top: 30%;
        right: 0;
        width: auto;
      }
      h3 {
        text-align: left;
      }
      p {
        font-size: $h4-size;
      }
		}
	}

  .main-section {
    max-width: $main-area-max-width;
    margin: 60px auto;
  }
}
