.health-container {
	.banner {
		position: relative;
		height: 400px;
		background: url("/images/dan-gold-298710.jpg") no-repeat center center;
		background-size: cover;

		.artwork {
			position: absolute;
			height:200px;
      width: 300px;
			top: 100px;
			left: 300px;
      background-color: $orange;
      opacity: 0.8;
		}
	}

  .main-section {
    max-width: $main-area-max-width;
    margin: 60px auto;
  }
}
