.vegan-tips-container {
  color: $grey;
  p {
    font-size: 18px;
    &.main {
      font-size: 22px;
    }
  }

  .tabs {
    margin-bottom: 0;
    .tab-item {
      font-size: $h4-size;
			margin-bottom: 5px;
      &:hover {
        color: $brand-color;
        cursor: pointer;
      }
      &.active {
        color: $brand-color;
      }
			&:not(:first-child) {
				span {
					&:before {
						content: " ";
						margin:0 -12px;
						position: absolute;
						top: 0;
						bottom: 0;
						width: 1px;
						background: $grey;
					}
				}
			}
    }
  }

 	.banner {
		position: relative;
		height: 500px;
		background: url("/images/tips/tip-1.jpg") no-repeat center center;
		background-size: cover;
    margin-bottom: 50px;

    .message-container {
      font-size: 30px;
      color: rgb(134, 114, 98);
      padding: 20px 30px;
			position: absolute;
      top: 35%;
      left: 38%;
      @media screen and (max-width: $breakpoint-medium) {
        top: 40%;
      }
      h1 {
        font-size: 0.8em;
        font-weight: 300;
      }
    }

	}

  .main-section {
    max-width: $main-area-max-width;
    margin: 60px auto;
  }

  .outside-eating-tips {
    .tip-category {
      padding: 10px;
      text-align: center;

      &.active, &:hover {
        box-shadow: 0 5px 10px rgba($brand-color, 0.2);
      }
      .tip-category-icon-container {
        img {
          object-fit: cover;
        }
      }
      p {
        text-align: center;
        color: $brand-color;
      }
      .down-icon-container {
        color: $green;
      }
    }

  }

  .restaurants-tips {
    .district-selector-container {
      padding: 20px 0;
      .district-selector {
        button {
          width: 120px;
          height: 40px;
          margin-left: 10px;
          margin-right: 10px;
          color: $brand-color;
          &:hover {
            border-color: rgba($brand-color, 0.5);
          }
          &.selected {
            background-color: $brand-color;
            color: $white;
          }
        }
      } 

      .little-tip {
        p {
          font-size: 10px;
          margin: 0;
          color: $green;
        }
      }
    }

  }
  .item-list {
    border-top: 1px solid $green;
    .item {
      border-bottom: 1px solid $green;
      .restaurant-image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        img {
          margin: 20px 0;
        }
      }
      .restaurant-info-container, .website-info-container {
        padding: 40px 20px;

        .restaurant-name, .website-name {
          color: $green;
        }
        p {
          margin-top: 0;
          margin-bottom: 6px;
        }
      }
    }
  }

  .app-store-badge {
    height: 60px;
  } 
  .google-play-badge {
    height: 86px;
  } 

}

