<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
	 <%= form_for @changeset, author_image_path(@conn, :create), [multipart: true, class: "uk-form-horizontal uk-margin-large"], fn f -> %>
		<div class="form-group">    
			<%= label f, :image, class: "uk-form-label" %>    
			<%= file_input f, :image %>    
			<%= error_tag f, :image %>  
		</div>
		<%= submit "Upload Image", class: "uk-button uk-button-default" %>
  <% end %>
</div>

