<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>香港素食會 Hong Kong Veg Society</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= render_shared "main-navbar.html", conn: @conn %>
    <div class="article-container">
      <div class="uk-section">
        <div class="uk-section not-found-container">
          <h2>Oops! The page you were looking for&nbsp;doesn’t exist.</h2>
          <h4>You may have mistyped the address or the page may have moved.</h4>
          <a class="uk-button uk-button-default" href="/">Take Me Home
          </a>
        </div>
      </div>
    </div>
    <%= render_shared "footer.html" %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>

