<div class="uk-section 404-container">
<h2>Oops! Internal Server Error.</h2>
<h4>Sorry! something went wrong at our side.</h4>
<a class="uk-button uk-button-default" href="/">Take Me Home
</a>
</div>
